<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="dist/css/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="dist/css/site.min.css">
</head>
<body class="initial-hidden">
<div class="floaty-button">
    <button onclick="javascript: window.initSpeech();">Enable speech</button>
</div>
<div class="container full-width-container">
    @RenderBody()
</div>
<script src="dist/js/vendor.min.js" type="text/javascript"></script>
<script src="dist/js/site.min.js" type="text/javascript"></script>
@RenderSection("scripts", false)
</body>
</html>
